*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* section-1 style  */
.header__container{
    background:url('/images/background.png'), lightgray -43px -0.156px / 104.479% 100.033% no-repeat;
    width: 100%;
    height: 940px;
    background-size: contain;
    padding: 4% 8% ;
}
.logo{
    display: flex;
}

.logo__text{
    justify-content: center;
}
text {
    color: #092E67;
        font-family: 'Li Niladri Rongtuli Unicode';
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}
.hero__text1{
    width: 387px;
    height: 65px;
    background-color: #012A4A;
    color: #FFF;
        font-family: 'Li Ador Noirrit';
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 20px;
        border-radius: 100px 10px / 120px;
        margin-top: 50px;

}
.hero__text2{
    margin-top: 30px;
    color: #003B60;
    font-family: 'Li Niladri Rongtuli Unicode';
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 30px;
    
}
.hero__section{
    display: flex;
    align-items: stretch;
}
.hero__img img{
        max-width: 100%;
        margin-left: 90px;
        
}
.hero__price{
    color: #012A4A;
        font-family: 'Li Ador Noirrit';
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}
.hero__price_number{
    color: #608AAB;
        font-family: 'Li Ador Noirrit';
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: line-through;
        margin-top: 30px;
}
.hero__price_numberDiscount{
    color: #012A4A;
        font-family: 'Li Ador Noirrit';
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}
.order__btn{
    margin-top: 52px;
        width: 200px;
        height: 76.683px;
        flex-shrink: 0;
        background-color: #F0E615;
        font-family: 'Li Niladri Rongtuli Unicode';
        font-size: 18px;
        font-style: normal;
        color: #092E67;
        font-weight: 700;
        line-height: normal;
        padding: 20px;
        border-radius: 100px 10px / 120px;
}
.hero__delivery{
    color: #012A4A;
        font-family: 'Li Ador Noirrit';
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-top: 50px;
}
.hero__phone{
        width: 476px;
        height: 95px;
        flex-shrink: 0;
        background-color: #F0E615;
        color: #012A4A;
        font-family: Malgun Gothic;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border-radius: 100px 10px / 120px;
        position: relative;
        padding-left: 100px;
        padding-top: 10px;
        margin-top: -150px;
        margin-left: 140px;
}
.hero__phone img{
    position: absolute;
    top: 15px;
    left: -70px;
}

.hero__live{
    width: 499px;
        height: 75px;
        flex-shrink: 0;
        background-color: #012A4A;
        color: #FFF;
            font-family: Li Ador Noirrit;
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding-left: 50px;
            padding-top: 15px;
            border-radius: 100px 10px / 120px;
            
}

/* section-2 style  */
.product__details{
    width: 1290px;
    position: relative;
    left: 5%;
}
.p__details{
        color: #003B60;
        font-family: 'Li Ador Noirrit';
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        position: relative;
        margin-top:10% ;
        margin: 4% 5%;
    
}

.section__2{
    display: grid;
    grid: auto-flow / 1fr 1fr;
    margin-top: 5%;
}

.section2__content h2{
    width: 100%;
    color: #003B60;
        font-family: 'Li Niladri Rongtuli Unicode';
        font-size: 44px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin-bottom: 5%;
}
.section2_img{
    margin-top: 5%;
    
    margin-right: 1%;
}
input{
    margin-top: 2%;
}
.section2__inputs label{
        color: #003B60;
        text-align: center;
        font-family: 'Manrope';
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin-top: 2%;
        
}

.section2__content{
   margin-left: 15%;
   margin-top: 40%;

    

}
.section2__inputs{
    display: flex;
    gap: 5%;
}

/* denim section style  */
.denim__section{
    background-image:url('/images/denim_text_effect\ 1.png');
    background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    width: 100%;
        height: 1145px;
        flex-shrink: 0;
        margin-top: -18%;
}
.denim__section h3{
    color: #F0E615;
        font-family: 'Li Niladri Rongtuli Unicode';
        font-size: 44px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-left: 48%;
        padding-top: 3%;
}
.denim__size{
    margin-left: 47% ;
   

}
.denim__size img{
    border-radius: 50%;
    margin-top: 2%;
    margin-left: 2%;
}

.low__prise{
    color: #FFF;
        text-align: center;
        font-family: 'Li Sheikh Hasina 2';
        font-size: 50px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-top: 35%;
}

/* section-3 style  */
.order{
    margin-top: 52px;
        width: 200px;
        height: 76.683px;
        flex-shrink: 0;
        background-color: #F0E615;
        font-family: 'Li Niladri Rongtuli Unicode';
        font-size: 18px;
        font-style: normal;
        color: #092E67;
        font-weight: 700;
        line-height: normal;
        padding: 20px;
        border-radius: 100px 10px / 120px;
        margin-left: 45%;
}
.section__three{
        background: #F0F9FF;
        width: 100%;
        height: 1272px;
        flex-shrink: 0;
        padding-left: 5%;
        padding-top: 7%;
}
.cart{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.cart__content{
    width: 299px;
        height: 358.513px;
        flex-shrink: 0;
        background-color: #FFF;
        border-radius: 90px 5px / 110px;
}
.cart__content img{
        width: 257.156px;
        height: 212.238px;
        flex-shrink: 0;
        margin: 10%;
}

.btn__text1{
    background-color: #012A4A;
    width: 260.524px;
        height: 75.238px;
        flex-shrink: 0;
        color: #FFF;
        font-family: 'Li Ador Noirrit';
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 5px 10px; 
        margin: -4% 5%;
        border-radius: 100px 10px / 120px;
}
hr{
    width: 70%;
    border:1px dashed #003B60;
    margin-top: 7%;
    margin-left: 10%;
}
.attribute{
        color: #003B60;
        font-family: 'Li Niladri Rongtuli Unicode';
        font-size: 44px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 5% 25%;
}
.parent__attribute{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    margin: 0% 15%;
}
input.largerCheckbox{
    width: 20px;
        height: 20px;
}
.checkbox__attribute{
    color: #003B60;
        font-family: 'Li Ador Noirrit';
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}

/* section-4 style  */
.section__four{
    width: 100%;
    height: auto;
    
}
.section__four img{
border-radius: 100px 1px / 120px;
width: 70%;
    height: 50%;
    flex-shrink: 0;
    margin-left: 18%;
    margin-top: -10%;
}
.herding__four{
        color: #003B60;
        font-family: 'Li Niladri Rongtuli Unicode';
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-left: 17%;
        margin-top: 5%;

}
.text__three{
    color: #003B60;
        font-family: 'Li Ador Noirrit';
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 1% 4%;
        border: 1px solid #003B60;
        width: 55%;
        margin-left: 27%;
        margin-top: 2%;
}
.text__four{
    color: #003B60;
        font-family: 'Li Ador Noirrit';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 1% 5%;
        border: 1px solid #003B60;
        width: 35%;
        margin-left: 38%;
        margin-top: 2%;
        margin-bottom: 20%;
}

/* section-5 style  */
.section__five {
        border-radius: 117px 0px;
        background: linear-gradient(0deg, rgba(0, 59, 96, 0.64) 0%, rgba(0, 59, 96, 0.64) 100%), url(/images/434\ 1.png), lightgray 0px -91.279px / 100% 129.742% no-repeat;
            width: 60%;
            height: 50%;
            flex-shrink: 0;
}
.section__five{
    margin-left: 25%;
    
    
}
.section__five h1{
    color: #FFF;
        text-align: center;
        font-family: 'Li Niladri Rongtuli Unicode';
        font-size: 51px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-top: 20%;
}
.section__five h2{
    color: #FFF;
        text-align: center;
        font-family: 'Li Ador Noirrit';
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-top: 3%;
}
.order__btn2 {
    margin-top: 52px;
    width: 200px;
    height: 76.683px;
    flex-shrink: 0;
    background-color: #F0E615;
    font-family: 'Li Niladri Rongtuli Unicode';
    font-size: 18px;
    font-style: normal;
    color: #092E67;
    font-weight: 700;
    line-height: normal;
    padding: 20px;
    border-radius: 100px 10px / 120px;
    margin-left: 40%;
}

/* section-6 style  */
.section__six {
    background: #F0F9FF !important;
    width: 100%;
    height: 1065px;
    flex-shrink: 0;
    margin-top: -10%;

}
.cart__testimonial{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3%;
   
    width: 80%;
    margin:5% 6% ;

}
.cart__details__1{
    width: 392.876px;
        height: 330.228px;
        flex-shrink: 0;
        background-color: #FFF;
        border-radius: 100px 1px / 120px;
        padding: 4%;
}
.cart__details__1 h1{
        color: #003B60;
        font-family: 'Manrope';
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}
.cart__details__1 h6{
    color: #003B60;
        font-family: 'Manrope';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}
.cart__details__1 hr{
    width: 210.242px;
        height: 1px;
        color: #003B60;
}
.cart__details__1 p{
    color: #003B60;
        text-align: center;
        font-family: 'Manrope';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        /* 155.556% */
}
.cart__details__2{
    width: 392.876px;
        height: 330.228px;
        flex-shrink: 0;
        background-color: #FFF;
        border-radius: 100px 1px / 120px;
        padding: 4%;
}
.cart__details__2 h1 {
    color: #ffffff;
    font-family: 'Manrope';
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.cart__details__2 h6 {
    color: #ffffff;
    font-family: 'Manrope';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.cart__details__2 hr {
    width: 210.242px;
    height: 2px;
    border:1px dashed #fff
}
.cart__details__2 p {
    color: #ffffff;
    text-align: center;
    font-family: 'Manrope';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 155.556% */
}

/* section-7 and sub footer style  */
.section__seven{
    background: url('/images/svgviewer.png'), lightgray -43px -0.156px / 104.479% 100.033% no-repeat;
    width: 70%;
        height: 270px;
        flex-shrink: 0;
        margin-top: 10%;
        margin-left: 15%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 3% 7%;
}
.sub__footer1 h1{
        color: #FFF;
        font-family: 'Li Ador Noirrit';
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

}
.sub__footer1 hr{
    border: 2px solid yellow;
    width: 20%;
    margin: 2% 0%;
}
.sub__footer1 p{

    color: #FFF;
        font-family: 'Li Ador Noirrit';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 2% 0%;
}
.sub__footer2 p{
    color: #F0E615;
        text-align: center;
        font-family: 'Li Ador Noirrit';
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 3%;
}
.sub__footer2 h1{
    color: #F8F8F8;
        font-family: 'Manrope';
        font-size: 39.99px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        align-items: center;

}

/* footer style  */
.footer{
    background: url('/images/bunch-twisted-jeans-close-up-fashionable-clothes\ \(1\)\ 1.png'), linear-gradient(0deg, #003B60 0%, rgba(0, 59, 96, 0.00) 100%);
    width: 100%;
    margin-top: -7%;
        height: 399px;
        flex-shrink: 0;
        position: absolute;
        z-index: -1;
        
}
.footer h3{
        color: #FFFEFF;
        font-family: 'Manrope';
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-align: center;
        margin-top: 5%;
}
